{% load cms_tags menu_tags sekizai_tags static %}


<!--colored-lines-->
<div class="color-lines row no-gutters">
  <div class="col-4 bg-red"></div>
  <div class="col-4 bg-yellow"></div>
  <div class="col-4 bg-green"></div>
</div>
<footer class="footer-style-1">
  <div class="container">
    <div class="row align-items-center">
      <!--Social-->
      <div class="col-lg-6">
        <div class="footer-social text-center text-lg-left">
          <ul class="list-unstyled">
            <li>
              <a
                class="wow fadeInUp"
                href="https://www.facebook.com/jngarivhume"
                ><i aria-hidden="true" class="fab fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a
                class="wow fadeInDown"
                href="https://www.twitter.com/@31julyofficial"
                ><i aria-hidden="true" class="fab fa-twitter"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <!--Text-->
      <div class="col-lg-6 text-center text-lg-right">
        <p class="company-about fadeIn">{% placeholder 'copyright' %}</p>
      </div>
    </div>
  </div>
</footer>
