{% load cms_tags menu_tags sekizai_tags static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <link rel="icon" href="../static/creative/img/logo.png" />
    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <!-- Author -->
    <meta name="author" content="31 July Movement" />
    <!-- description -->
    <meta name="description" content="" />
    <!-- keywords -->
    <meta name="keywords" content=" " />
    <!-- Page Title -->
    <title>{% block title %}31 July Movement{% endblock title %}</title>
    {% include 'creative_head.html' %} 
    <style>
      #video iframe {
      height: 300px !important;
    }
    input {
  font-size: 21px !important;
}
    </style>
    {% render_block "css" %}
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    {% cms_toolbar %}

    <!-- Preloader -->
    <div class="preloader">
      <div class="center">
        <div class="loader loader-32">
          <div class="loader-container">
            <div class="ball-wrapper">
              <div class="ball-holder">
                <div class="ball"></div>
              </div>
              <div class="shadow"></div>
            </div>
            <div class="ball-wrapper">
              <div class="ball-holder">
                <div class="ball"></div>
              </div>
              <div class="shadow"></div>
            </div>
            <div class="ball-wrapper">
              <div class="ball-holder">
                <div class="ball"></div>
              </div>
              <div class="shadow"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Preloader End -->

    <!--Header Start-->
    {% include 'creative_upper.html' %}
    <!--Header End-->

    <!--About sec start-->
    <!-- <section class="about-sec" id="about-sec">
      <div class="about-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 services-area padding-top padding-bottom">
            <div class="yellow-overlay"></div>
            <div class="row no-gutters wow fadeInLeft">
              <div class="col-12 services text-center">
                <div class="service-card">
                  <h4 class="heading">{% placeholder 'about_aim' %}</h4>
                <p class="text">{% placeholder 'about_aim_text' %}</p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-5 about-area padding-top padding-bottom text-center text-lg-left"
          >
            <div class="about-content wow fadeInRight">
              <div class="about-inner-content">
                <div class="row">
                  {% placeholder 'form_section' %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!--About sec End-->

    <!--portfolio section start-->
    <section
      class="portfolio-sec company-portfolio-section"
      id="aims-section"
    >
      <div class="container">
        <div class="section-heading">
          <div class="row">
            <div class="col-md-12 pt-5">{% placeholder 'sdf' %}</div> 
          </div>
        </div>
      </div>
    </section>
    <!--portfolio section end-->
    <!--testimonial section start-->
<div class="testimonial-sec padding-top position-relative" id="testimonial-sec">
  <div class="right-overlay"></div>
  <div class="container">
      <div class="testimonial-area padding-top padding-bottom">
          <div class="container">
              <div class="row">
                  <div class="col-12 col-lg-5 d-flex justify-content-center align-items-center text-center text-lg-left">
                      <div class="testimonial-details wow fadeInLeft">
                          <h4 class="heading">Truth <span>  and Justice</span></h4>
                          <p class="text">
                              We should never fall into the trap of believing that peace can be
bought at the price of truth and justice and allowing mass murders to
keep their ill-gotten gains.
                          </p>
                      </div>
                  </div>
                  <div class="col-12 col-lg-6 offset-lg-1">
                     {% placeholder 'video' %}
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!--testimonial section end-->


<!--sponsers section start-->
<div class="sponser-sec padding-top" id="sponser-sec">
  <div class="container">
      <div class="row">
          <div class="col-12">
              {% placeholder 'abuse-link' %}
          </div>
      </div>
  </div>
</div>
<!--sponsers section end-->

    <!--Blogs section start-->
    <section class="blog-sec" id="blog-sec">
      <div class="left-overlay"></div>
      <div class="container position-relative">
        <div class="blog-inner-overlay"></div>
        <div class="row blog-area">
          <div
            class="col-12 col-lg-5 d-flex align-items-center text-center text-lg-left"
          >
            <div class="blog-detail wow fadeInLeft">
              <h5 class="heading">{% placeholder 'blog_header' %}</h5>
              <p class="text">{% placeholder 'blog_text' %}</p>
            </div>
          </div>
          <div class="col-12 col-lg-6 offset-lg-1">
            <div class="blog-img wow fadeInRight">
              <img src="{% static 'creative/img/1.png' %}" alt="blog-img" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Blogs section end-->

    <!--Gallary section start-->
    {% include 'gallary.html' %}
    <!--Gallary section end-->
    <!--Footer Start-->
    {% include 'creative_footer.html' %}
    <!--Footer End-->
    {% include 'creative_scripts.html' %} {% render_block "js" %}
  </body>
</html>
