{% load static %}
<!-- Favicon -->
<link href="" rel="icon" />
<!-- Bundle -->
<link href="{% static 'vendor/css/bundle.min.css' %}" rel="stylesheet" />

<!-- Plugin Css -->
<link
  href="{% static 'creative/css/line-awesome.min.css' %}"
  rel="stylesheet"
/>
<link
  href="{% static 'vendor/css/revolution-settings.min.css' %}"
  rel="stylesheet"
/>
<link
  href="{% static 'vendor/css/jquery.fancybox.min.css' %}"
  rel="stylesheet"
/>
<link href="{% static 'vendor/css/owl.carousel.min.css' %}" rel="stylesheet" />
<link href="{% static 'vendor/css/cubeportfolio.min.css' %}" rel="stylesheet" />
<link href="{% static 'vendor/css/LineIcons.min.css' %}" rel="stylesheet" />
<link href="{% static 'creative/css/slick.css' %}" rel="stylesheet" />
<link href="{% static 'creative/css/slick-theme.css' %}" rel="stylesheet" />
<link href="{% static 'vendor/css/wow.css' %}" rel="stylesheet" />
<!-- Style Sheet -->
<link href="{% static 'creative/css/blog.css' %}" rel="stylesheet" />
<link href="{% static 'creative/css/style.css' %}" rel="stylesheet" />
