{% load static %}
<!--Scroll Top Start-->
<span class="scroll-top-arrow"><i class="fas fa-angle-up"></i></span>
<!--Scroll Top End-->

<!-- JavaScript -->
<script src="{% static 'vendor/js/bundle.min.js' %}"></script>
<!-- Plugin Js -->
<script src="{% static 'vendor/js/jquery.appear.js' %}"></script>
<script src="{% static 'vendor/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'vendor/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/js/parallaxie.min.js' %}"></script>
<script src="{% static 'vendor/js/wow.min.js' %}"></script>
<!-- REVOLUTION JS FILES -->
<script src="{% static 'vendor/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'vendor/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'vendor/js/jquery.cubeportfolio.min.js' %}"></script>
<!-- SLIDER REVOLUTION EXTENSIONS -->
<script src="{% static 'vendor/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.video.min.js' %}"></script>
<script src="{% static 'creative/js/slick.js' %}"></script>
<script src="{% static 'creative/js/slick.min.js' %}"></script>
<!-- custom script-->
<script src="{% static 'creative/js/circle-progress.min.js' %}"></script>

<script src="{% static 'vendor/js/contact_us.js' %}"></script>
<script src="{% static 'creative/js/script.js' %}"></script>
