<div class="icon-bar">
    <a
      href="https://www.facebook.com/transformzim"
      target="_blank"
      class="facebook"
      ><i class="fa fa-facebook"></i
    ></a>
    <a href="https://twitter.com/jngarivhume" target="_blank" class="twitter"
      ><i class="fa fa-twitter"></i
    ></a>
    <a
      href="https://www.instagram.com/"
      target="_blank"
      class="instagram"
      ><i class="fa fa-instagram"></i
    ></a>
    <a
      href="https://www.youtube.com/"
      target="_blank"
      class="youtube"
      ><i class="fa fa-youtube"></i
    ></a>
  </div>